[aws]
access_key=<ACCESS-KEY>
secret_key=<SECRET-KEY>
queue=<S3-QUEUE>

[database]
host=
port=
username=
password=

[log]
log=/opt/Heedra/log/heedra.log
error_log=/opt/Heedra/log/error.log
log_level=INFO

[handler]
Heedra::Admin::Payload=Heedra::Admin::Handler
Heedra::Blender::Payload=Heedra::Blender::Handler

[Heedra::Blender::Payload]
blender=/opt/blender-2.76b/blender
s3cmd=/usr/bin/s3cmd
scratch_dir=/tmp/
